@tailwind base;
@tailwind components;
@tailwind utilities;


*{
	/* font-family: 'GT Haptik Regular'!important; */
}

/* Write your own custom base styles here */
@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
		/* font-family: "GT Haptik Regular" */
	}
	html,
	body {
		@apply text-body font-body antialiased;
	}
	p {
		@apply mb-5;
	}
	p:last-of-type {
		@apply mb-0;
	}
	p > a {
		@apply text-body transition;
	}
	p > a:hover {
		@apply text-heading;
	}
}

@layer components {
	.menuIcon {
		width: 26px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@apply space-y-1.5;
	}
	.bar {
		width: 100%;
		height: 2px;
		transition: all 0.25s ease-in-out;
		@apply flex bg-heading rounded-2xl;
	}
	.bar:first-child {
		width: 50%;
	}
	.bar:last-child {
		width: 75%;
	}
	.menuBtn:hover .bar:first-child,
	.menuBtn:hover .bar:last-child {
		@apply w-full;
	}
	.menuBtn:hover .bar:nth-child(2) {
		width: 60%;
	}

	/* Header Menu */
	#siteHeader.is-scrolling .innerSticky {
		@apply shadow-header;
	}
	.headerMenu .menuItem > a::before {
		@apply absolute end-0 w-0 bg-[#f7b081] bottom-0;
		content: "";
		height: 2px;
		transition: all 0.3s ease-in-out 0s;
	}
	.megaMenu,
	.subMenu {
		visibility: hidden;
		transition: all 0.4s;
		top: calc(100% + 25px);
	}
	.megaMenu {
		width: 970px;
	}
	@media (min-width: 1280px) {
		.megaMenu {
			width: 1070px;
		}
	}
	@media (min-width: 1500px) {
		.megaMenu {
			width: 1200px;
		}
	}
	.megaMenu ul > li:last-of-type {
		@apply pb-0 border-0 mb-0;
	}
	.subMenu {
		width: 220px;
	}
	@media (min-width: 1280px) {
		.subMenu {
			width: 240px;
		}
	}
	.subMenuChild {
		transition: all 0.3s;
	}
	.subMenu li:hover > .subMenuChild {
		@apply opacity-100 visible -top-3;
	}
	.megaMenu .subMenuGrid > li:last-of-type {
		@apply border-b-0 pb-0 mb-0;
	}

	.headerMenu .menuItem:hover > a::before {
		@apply w-full end-auto start-0 bg-[#f7b081];
	}
	.headerMenu .menuItem:hover > .megaMenu,
	.headerMenu .menuItem:hover > .subMenu {
		visibility: visible;
		@apply top-full;
	}

	/* Mobile Drawer Menu */
	.mobileMenu .menu-item.active {
		@apply text-black font-semibold;
	}
	.mobileMenu .menu-item.active::before {
		content: "";
		width: 3px;
		@apply flex absolute h-full bg-heading top-0 start-0 bottom-0;
	}
	.mobileMenu li li {
		@apply text-body text-sm;
	}
	.mobileMenu li li div > a {
		@apply relative py-2.5 text-body;
	}
	.mobileMenu li > ul > li > div > a:before {
		content: "";
		height: 1px;
		@apply flex absolute bg-body top-1/2 start-1.5 md:start-3 w-1.5 md:w-2;
	}

	/* Hero Banner */
	@media (min-width: 1500px) {
		/* .heroBannerOne > div {
			margin-left: -500px;
			margin-right: -500px;
		} */
	}
	@media (min-width: 1780px) {
		/* .heroBannerOne > div {
			margin-left: -750px;
			margin-right: -750px;
		} */
	}
	@media (min-width: 1850px) {
		/* .heroBannerOne > div {
			margin-left: -850px;
			margin-right: -850px;
		} */
	}

	/* Exclusive Year Section css */
	.exclusiveYear {
		opacity: 0.02;
		font-size: 8rem;
	}
	@media (min-width: 1280px) {
		.exclusiveYear {
			font-size: 160px;
		}
	}
	@media (min-width: 1500px) {
		.exclusiveYear {
			font-size: 200px;
		}
	}
	@media (min-width: 1780px) {
		.exclusiveYear {
			font-size: 240px;
		}
	}

	@media (min-width: 667px) {
		.exclusiveImage {
			min-width: 280px;
			min-height: 300px;
		}
	}

	/* Your own custom utilities */
	.productColor.active {
		@apply border-heading;
	}
	.productSize.active {
		@apply border-heading bg-heading text-white;
	}
	.productTags a:last-of-type > span {
		display: none;
	}
	/* For login and signup switch */
	.switch {
		height: 22px;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #212121;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(16px);
		-ms-transform: translateX(16px);
		transform: translateX(16px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: #707070;
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		color: #707070;
	}
	input::placeholder {
		color: #707070;
	}

	.popupClosed {
		@apply -top-3.5 md:-top-4 -end-3.5 md:-end-4;
	}
	.h-screen-40 {
		height: calc(100vh - 40px);
	}
	.modal-root .os-content {
		@apply flex items-center justify-center lg:block;
	}

	.cart-counter-badge {
		min-width: 20px;
		min-height: 20px;
		padding: 2px;
		border-radius: 20px;
		font-size: 10px;
	}

	@media (max-wdith: 1279px) {
		.cart-counter-badge {
			min-width: 16px;
			min-height: 16px;
		}
	}
	.carouselWrapper .product-gallery + div {
		@apply hidden;
	}
	.carouselWrapper.pagination-left .swiper-pagination-bullets {
		@apply start-6 sm:start-9 md:start-11 lg:start-14 xl:start-20 2xl:start-24 3xl:start-28;
	}
}

/* Breadcrumb truncate last child */
.chawkbazarBreadcrumb li:last-child {
	@apply truncate;
}

.limit-height-carousel{
	height: auto!important;
}


.hide-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar{
	display: none;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.bg-gradient-special-section{
	/* background-image: linear-gradient(#4B0082, #c67ffa); */
	/* background: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117)); */
	background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);
	background-position: 0px 0px;
}

.bg-gradient-topbar{
	background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);
}

.bg-gradient-smallBiz-section{
	/* background: linear-gradient(110.1deg, rgb(241, 115, 30) 18.9%, rgb(231, 29, 54) 90.7%); */
	background: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);
	/* background-image: linear-gradient(-135deg, orange, pink 60%); */
	background-position: 0px 0px;
}

.bg-gradient-1{
	/* background: radial-gradient(circle at -1.7% -2.7%, rgb(250, 138, 138) 0%, rgb(198, 124, 204) 90%); */
	background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
}

.bg-gradient-2{
	background-image: linear-gradient(to bottom, orange, yellow, pink );
}

.bg-gradient-3{
	/* background: linear-gradient(113.1deg, rgb(254, 140, 48) 14%, rgb(253, 75, 101) 80.5%, rgb(255, 53, 109) 100.6%); */
	background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);
	/* background: radial-gradient(circle at 10% 20%, rgb(251, 106, 12) 0%, rgb(193, 11, 135) 97.4%); */
}

.bg-gradient-4{
	background: radial-gradient(circle at 10% 20%, rgb(255, 252, 214) 0%, rgba(255, 102, 102, 0.44) 90%);
}

.bg-categories-section{
	background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
}

/* .bg-gradient-button-1 {
	background: radial-gradient(circle at -1.7% -2.7%, rgb(250, 138, 138) 0%, rgb(198, 124, 204) 90%);
} */
.bg-gradient-button-1:hover {
	background-color: orange;
	/* background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51)); */
	/* background: radial-gradient(circle at -1.7% -2.7%, rgb(250, 138, 138) 0%, rgb(198, 124, 204) 90%); */
}

.bg-main-gradient{
	background: linear-gradient(0, #f7f3ff 0%, #fff 100%)
	/* background: radial-gradient(circle at 10% 20%, rgb(255, 252, 214) 0%, rgba(255, 102, 102, 0.44) 90%); */
}

/* .menu-text-color{
	@apply hover:text-orange-500
} */

.menu-text{
	color: '#e25f08';
}

.menu-text:hover{
	color: '#e25f08'!important;
}


.page-header {
	position: fixed;
	top: 20px;
	right: 0;
	left: 0;
	height: 6rem;
	padding: 20px 0;
	z-index: 20;
	background-color: rgba(255, 255, 255, 1);
	transform: scale(102%, 102%);
	animation: decreaseSize 0.1s ease-in-out;
  }
  
  .page-header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  

  /* STICKY STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header.is-sticky {
	position: fixed;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
	padding: 8px 0;
	background-color: white;
	transform: scale(100%, 100%);
	height: 4.2rem;
	/* backdrop-filter: blur(10px); */
	/* animation: slideDown 0.35s ease-out; */
	animation: increaseSize 0.3s ease-in-out;
  }
  
  .page-header.is-sticky img {
	max-width: 80%;
  }
  
  
  @keyframes slideDown {
	from {
	  transform: translateY(-100%);
	}
	to {
	  transform: translateY(0);
	}
  }

  @keyframes increaseSize {
	from {
		transform: scale(102%, 102%);
		height: 6rem;
	}
	to {
		transform: scale(100%, 100%);
		height: 4.2rem;
	}
  }

  @keyframes decreaseSize {
	to {
		transform: scale(102%, 102%);
		height: 6rem;
	}
	from {
		transform: scale(100%, 100%);
		height: 4.2rem;
	}
  }


  /* li > ul {
	transform: translatex(100%) scale(0);
  } */
  /* li:hover > ul {
	transform: translatex(101%) scale(1);
  } */
  li > button svg {
	transform: rotate(-90deg);
  }
  li:hover > button svg {
	transform: rotate(-270deg);
  }

.font-josephine{
	font-family: 'Van';
}

.font-playfair{
	font-family: 'pfdisplay';
}

.bg-special-effect{
	background-color: #d946ef;
	opacity: 0.1;
	background: radial-gradient(circle, transparent 20%, #d946ef 20%, #d946ef 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #d946ef 20%, #d946ef 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#000000 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #000000 1px, #d946ef 1px) -0.5px 0;
	background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;}

